<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="https://unpkg.com/lucide-static@latest/font/lucide.css" />
</head>
<body>
    <nav class="navbar-container">
        <div class="navbar-content">
            <a href="/overview" class="navbar-brand">Understanding AI</a>
            <ul class="navbar-links">
                <li><a href="/about">About</a></li>
                <li><a href="/outline">Chapters</a></li>
            </ul>
        </div>
    </nav>
    <main>
        {{ content | safe }}
    </main>
    <footer class="footer-container">

        <div>
            <p>&copy; 2025 Learning LLMs from Scratch</p>
        </div>
    </footer>
</html>
